security:
  keyFile: /home/vagrant/shared/mongodb-keyfile
  clusterAuthMode: x509
net:
  bindIp: database.m310.mongodb.university
  port: 31150
  ssl:
    mode: requireSSL
    PEMKeyFile: /home/vagrant/shared/m310-certs/client.pem
    CAFile: /home/vagrant/shared/m310-certs/ca.pem
    clusterFile: /home/vagrant/shared/m310-certs/client.pem
storage:
  dbPath: /home/vagrant/M310-HW-1.5/r0
systemLog:
  destination: file
  path: /home/vagrant/M310-HW-1.5/r0/mongodb.log
  logAppend: true
processManagement:
  fork: true
replication:
  replSetName: m310-repl