security:
  keyFile: /home/vagrant/M310-HW-1.6/shared_key
setParameter:
  saslauthdPath: /var/run/saslauthd/mux
  authenticationMechanisms: PLAIN
net:
  bindIp: database.m310.mongodb.university
  port: 31162
storage:
  dbPath: /home/vagrant/M310-HW-1.6/r2
systemLog:
  destination: file
  path: /home/vagrant/M310-HW-1.6/r2/mongo.log
  logAppend: true
processManagement:
  fork: true
replication:
  replSetName: m310-repl